body{
    background-image: url("p2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.ban{
    width:100%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    color:white;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
}
